.topicButton{
    margin: 0 10px 10px 0;
    min-width: 100px;
    background: slategray;
    color: white;
    font-weight: bold;
}
.row{
    margin-top: 15px;
}

.imgRes{
    width: auto;
    max-width: 32vw;
    height: 90%;
    display:block;
    /* position: relative; */
    bottom: 0;
}

.gifCont{
    /* border: solid 1px grey; */
    padding: 5px;
    width: auto;
    /* max-width:  */
    height: 300px;
    display: inline-block;
    /* margin: 10px; */
}
.imageRating{
    margin: 0px;

}

#addTxt{
    width: 100%;
    margin: 10px 0 10px 0;
}

#addCont{
    padding: 10px;
    background: slategray;
}

.container-fluid.butCont{
padding-left: 50px !important;
padding-right: 50px !important;

}

.form-cont{
    position: fixed;

}
.image-cont{
    position: relative;
}

#buttonAddPrompt{

color: white;
font-size: larger;
font-weight: bold;
}

#clickPrompt{
    
}

#mainLine{
text-align: center;
color: navy;
margin-bottom: 15px;
}

.headerRow{
    background:silver;
    margin: 0 !important;
    padding: 0 !important;
}